body {
}

label {
  background-color: rgba(10,10,10,0.5);
  color: white;
}

.valid-feedback,.invalid-feedback{
  background-color: rgba(10,10,10,0.9);
}

#background {
  background-image: url('../img/A_scene_from_"The_Traveling_Salesman"_(SAYRE_12440).jpg');
  background-color: gray;
  background-size: contain;
  position:fixed;
  height: 100%;
  width: 100%;
  z-index:-1;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}
form {
  width: 300px;
}

input {
  text-align: right;
}

.explained {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.bildnachweis {
  background-color: rgba(10,10,10,0.5);
  color: white;
  text-decoration: underline;
  text-decoration-style: wavy;
}
